<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SourceExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>XcodeHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>xchelperxpc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>384E51A31DC6B36700FAC6C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>384E51B41DC6B36700FAC6C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>384E51C71DC6B38500FAC6C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>387F2CFE2077F9DF00D93881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
